<!DOCTYPE html>

<!-- DASHBOARD PAGE-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Dashboard')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<main class="container py-4">
  <h2>Dashboard</h2>
  <p class="text-muted">Milestone 2 (no database). Session shows who logged in.</p>

  <div class="alert alert-info">
    <div><strong>Name:</strong> <span th:text="${name}">None</span></div>
    <div><strong>Email:</strong> <span th:text="${email}">None</span></div>
  </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
