<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>CST-339 Spring Boot Application</title>
  </head>
  <body>
    <div layout:fragment="content">
      <table
        id="usersTable"
        class="display responsive nowrap"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th style="text-align: center">User Name</th>
            <th style="text-align: center">Password</th>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${users.empty}">
            <td colspan="3" style="text-align: center">No users found.</td>
          </tr>
          <tr th:each="user : ${users}">
            <td style="text-align: center">
              <h5 th:text="${user.username}">Username</h5>
            </td>
            <td style="text-align: center">
              <h5 th:text="${user.password}">Password</h5>
            </td>
          </tr>
        </tbody>
      </table>
      <a th:href="@{.}">Back to Home</a><br />
    </div>
  </body>
</html>
